* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

section {
  max-width: 1200px;
  margin: auto;
}

/* nev css */

/* Common Button */

.common-button {
  padding: 15px 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: #1d4ed8;
  font-weight: Bold;
  border-radius: 10px;
  border: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

nav div ul {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav div ul a {
  text-decoration: none;
  font-family: Arimo;
  color: #575757;
  font-size: 16px;
}

/* hero css */

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
 

}

.hero-content {
  text-align: center;
  color: #ffffff;
}
.hero-content h1 {
  font-size: 3.5rem;
 
  margin-bottom: 16px;
}
.hero-content p {

  max-width: 600px;
  margin: auto;
  color: rgba(255, 255, 255, 0.9);

}
.hero-content button {
    margin-top: 278px;
}

/* Meet the speaker css */

.meet-speaker-container{
  display:grid;
  justify-content: center;

}
.meet-speaker-container  h1{
    text-align: center;
    font-weight : Bold;
    font-size: 2.5rem;
    margin-top: 80px;
}

.meet-speaker-content {
  display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 34px;
   margin-top: 56px; 
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.speaker {
  border-radius: 10px;
  /* border: 1px solid red; */
  overflow: hidden;
}
.speaker img{
  width: 100%;
  
}

.department {
  color: #2563EB;
 
  padding: 0 24px;
  padding-top: 8px; 
  font-weight: Bold;
  font-size: 12px;
}
.speaker h3 {
  padding: 8px 24px;
}
.role { 
   padding: 4px 24px;
  font-size: 14px;
  color: #575757;

}

